.hellow{
    color: rgb(212, 115, 115);
    /* font-family: "Phetsarath", serif;
  font-weight: 400 */
}
.font{
    font-family: "Phetsarath", serif;
  font-weight: 400 ;
  font-size: 40px;
}
.header{
  text-align: center;
  /* border: 2px solid red; */
  padding-top: 50px;
  font-size: 25px;
  padding-bottom: 150px;
       background-color: rgba(17, 14, 14, 0.411); 
      
}
.body{
   background-image: url('stock-photo-laptop.jfif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
  
   
}
.fac{
    font-size: 40px;
    gap:20px;
}
.img img{
 width: 100%;
}
.banner{
    background-color:rgba(17, 14, 14, 0.61) ;
    /* border: 2px solid gold; */
    padding-top: 40px;
    margin-top: 70px;
    padding-bottom: 40px;
    padding: 30px;
   
}
.card{
    display: flex;
    gap: 30px;
}
.button{
     padding: 20px 10px 20px 15px ; 
    border-color: rgba(30, 233, 30, 0.925);
    background-color:rgba(17, 14, 14, 0.753) ;
    color: white;
  
}
@media only screen and (max-width: 600px) {
    .header{
        flex-direction: column;
        
    }
    .card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    .flex{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       flex-direction: column;
        width: 250%; 
    }
    .pro{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        width: 180%;
    }
}
.project{
    /* border: 2px solid gold; */
    text-align: center;
     width: 40%; 
    margin-top: 60px;
    background-color:  rgba(17, 14, 14, 0.822);
   
}
.code{
    border: 2px solid white; 
  
     padding: 10px; 
     border-radius: 50px; 
     font-size: 30px; 
     margin-top: -1.7rem; 
      width: 60px;  
    margin-left: 40%;    
     background-color: rgba(17, 14, 14, 0.884); 
    color: blue;  
}
.flex{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}
.web{
    color: rgb(19, 179, 19);
    font-size: 30px;
}
.more{
    font-size: 30px;
}

 .css{
    /* border: 2px solid gold; */
    background-color: rgba(17, 14, 14, 0.884);
    width: 50%;
    padding: 30px;
    font-size: 10px;
  
 }
 .parsent{
    border: 2px solid white;
    height: 20px;
  text-align: center;
   

 }
 .w3{
  width: 100%;
  background-color: green;
  height: 17px;
  
 }
 .w4{
    width: 80%;
    background-color: green;
    height: 16px;
 }
 .w5{
    width: 70%;
    background-color: green;
    height: 16px;
 }
 .w6{
    width: 70%;
    background-color: green;
    height: 16px;
 }
 .w8{
    width: 90%;
    background-color: green;
    height: 16px;
 }
 .w9{
    width: 70%;
    background-color: green;
    height: 16px;
 }
 .pro{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    background-color: rgba(17, 14, 14, 0.596);
    padding: 40px;
 }
.program img{
    height: 190px;
}
.fu{
    background-color: rgba(17, 14, 14, 0.596);
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding: 30px;
  

}
.foter{
   
    /* width: 25%; */
    background-color: rgba(17, 14, 14, 0.856);
    text-align: center;
}
.git{
    display: flex;
    justify-content: space-between;
    font-size: 20x;
    padding: 10px;
    color: chartreuse;
}
@media only screen and (max-width: 600px) {
    .fu{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        /* width: 100%; */
       gap: 40px;
    }
}